<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hz17car.yema">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.PersonInfoActivity" />
        <activity android:name=".ui.activity.CarManagerActivity" />
        <activity android:name=".ui.activity.TravelAlbumActivity" />
        <activity android:name=".ui.activity.PhotoDisplayActivity" />
        <activity android:name=".ui.activity.MaintenanceMileageEditActivity" />
        <activity android:name=".ui.activity.NicknameEditActivity" />
        <activity android:name=".ui.activity.AboutYemaActivity" />
        <activity android:name=".ui.activity.carstate.CarTiresStateActivity"></activity>
    </application>

</manifest>