<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carlt.yema">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".YemaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="75c252bf0aa9108884674381ae6dfec7" />
        <activity android:name=".ui.activity.home.RemindActivity" />
        <activity android:name=".ui.activity.home.ReportActivity" />
        <activity android:name=".ui.activity.home.MonthActivity" />
        <activity android:name=".ui.activity.home.DayActivity" />
        <activity android:name=".ui.activity.home.InformationCentreActivity" />
        <activity android:name=".ui.activity.home.GpsTrailActivity" />
        <activity android:name=".ui.activity.login.UserLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.activity.carstate.CarSaftyListActivity" />
        <activity android:name=".ui.activity.carstate.MainTestingActivity" />
        <activity android:name=".ui.activity.carstate.CarStateNowActivity" />
        <activity android:name=".ui.activity.carstate.CarLocationActivity" />
        <activity android:name=".ui.activity.carstate.CarSynchronizeLocationActivity" />
        <activity android:name=".ui.activity.remote.RemoteLogActivity" />
        <activity android:name=".ui.activity.login.DeviceBindActivity" />
        <activity android:name=".ui.activity.login.ResetPasswdActivity" />
        <activity android:name=".ui.activity.login.ActivateBindActivity" />
        <activity android:name=".ui.activity.login.UserRegisterActivity" />
        <activity android:name=".ui.activity.setting.PersonInfoActivity" />
        <activity android:name=".ui.activity.setting.CarManagerActivity" />
        <activity android:name=".ui.activity.setting.TravelAlbumActivity" />
        <activity android:name=".ui.activity.setting.PhotoDisplayActivity" />
        <activity android:name=".ui.activity.setting.MaintenanceMileageEditActivity" />
        <activity android:name=".ui.activity.setting.NicknameEditActivity" />
        <activity android:name=".ui.activity.setting.AboutYemaActivity" />
        <activity android:name=".ui.activity.setting.PhoneAuthenticationActivity" />
        <activity android:name=".ui.activity.setting.ResetCetifiedPhoneActivity" />
        <activity android:name=".ui.activity.setting.AccountSecurityActivity" />
        <activity android:name=".ui.activity.carstate.CarTiresStateActivity" />
        <activity android:name=".ui.activity.setting.RemotePasswdManageActivity" />
        <activity android:name=".ui.activity.setting.ResetRemotePasswdActivity" />
        <activity android:name=".ui.activity.setting.VcodeResetRemotePasswdActivity" />
        <activity android:name=".ui.activity.setting.GeneralManageActivity" />
        <activity android:name=".ui.activity.setting.MsgManageActivity" />
        <activity android:name=".ui.activity.setting.DeviceManageActivity" />
        <activity android:name=".ui.activity.setting.LoginPasswdManageActivity" />
        <activity android:name=".ui.activity.setting.ResetLoginPasswdActivity" />
        <activity android:name=".ui.activity.setting.VcodeResetPasswdActivity" />
        <activity android:name=".ui.activity.setting.TermsDeclareActivity" />
        <activity android:name=".ui.activity.setting.CarModeListActivity" />
        <activity android:name=".ui.activity.setting.CarTypeListActivity" />
        <activity android:name=".ui.activity.carstate.FindCarActivity" />
        <activity android:name=".ui.activity.carstate.LocationSynchronizeActivity"></activity>
    </application>

</manifest>