<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carlt.yema">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.setting.PersonInfoActivity" />
        <activity android:name=".ui.activity.setting.CarManagerActivity" />
        <activity android:name=".ui.activity.setting.TravelAlbumActivity" />
        <activity android:name=".ui.activity.setting.PhotoDisplayActivity" />
        <activity android:name=".ui.activity.setting.MaintenanceMileageEditActivity" />
        <activity android:name=".ui.activity.setting.NicknameEditActivity" />
        <activity android:name=".ui.activity.setting.AboutYemaActivity" />
        <activity android:name=".ui.activity.setting.PhoneAuthenticationActivity" />
        <activity android:name=".ui.activity.setting.ResetCetifiedPhoneActivity" />
        <activity android:name=".ui.activity.setting.AccountSecurityActivity" />
        <activity android:name=".ui.activity.carstate.CarTiresStateActivity" />
        <activity android:name=".ui.activity.carstate.CarSaftyListActivity" />
        <activity android:name=".ui.activity.carstate.MainTestingActivity" />
        <activity android:name=".ui.activity.carstate.CarStateNowActivity" />
        <activity android:name=".ui.activity.carstate.CarLocationActivity" />
        <activity android:name=".ui.activity.carstate.CarSynchronizeLocationActivity"></activity>
    </application>

</manifest>